footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;

    .footer-content {
        padding: 1rem;
        background-color: #9b0505;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #7a0404; // Cambio de color sutil al pasar el cursor
        }
    }

    .footer-link {
        color: #fff;
        font-size: 1rem;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;

        &:hover {
            color: #ffd700; // Dorado al pasar el cursor
        }
    }
}
