<app-navigation></app-navigation>

<!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
        SINIESTROS
    </h3>
    <div class="card-body">
        <div id="table" class="table-editable">
            <span class="table-add float-right mb-3 mr-2"><a class="text-success" (click)="showAddSiniestroModal()"><i
                class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
       <button   (click)="showAddSiniestroModal()">Crear Siniestro

       </button>
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Perdidas Materiales</th>
                        <th class="text-center">Afectados</th>
                        <th class="text-center">Implementos</th>
                        <th class="text-center">Tipo Siniestro</th>
                        <th class="text-center">Descripción</th>
                        <th class="text-center">Eliminar</th>





                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of paginatedData">
                        <td class="pt-3-half" contenteditable="false">{{item?.id}}</td>
                        <td class="pt-3-half">
                            <label (click)="item.show = !item.show" >{{item?.fecha}}</label>
                            <input type="text" *ngIf="item.show" [(ngModel)]="item.fecha">
                            <button *ngIf="item.show" (click)="changeValue(item)">
                                Guardar
                            </button>
                        </td>
                        <td class="pt-3-half">
                            <label (click)="item.show = !item.show" >{{item?.perdidas_materiales}}</label>
                            <input type="text" *ngIf="item.show" [(ngModel)]="item.perdidas_materiales">
                            <button *ngIf="item.show" (click)="changeValue(item)">
                                Guardar
                            </button>
                        </td>
                        <td class="pt-3-half">
                            <label (click)="item.show = !item.show" >{{item?.afectados}}</label>
                            <input type="text" *ngIf="item.show" [(ngModel)]="item.afectados">
                            <button *ngIf="item.show" (click)="changeValue(item)">
                                Guardar
                            </button>
                        </td>
                        <td class="pt-3-half">
                            <label (click)="item.show = !item.show" >{{item?.implementos_utilizados}}</label>
                            <input type="text" *ngIf="item.show" [(ngModel)]="item.implementos_utilizados">
                            <button *ngIf="item.show" (click)="changeValue(item)">
                                Guardar
                            </button>
                        </td>
                        <td class="pt-3-half">
                            <label (click)="item.show = !item.show" >{{item.tipo_siniestro_id}}</label>
                            <input type="text" *ngIf="item.show" [(ngModel)]="item.tipo_siniestro_id">
                            <button *ngIf="item.show" (click)="changeValue(item)">
                                Guardar
                            </button>
                        </td>
                        <td class="pt-3-half">
                            <label (click)="item.show = !item.show" >{{item.descripcion}}</label>
                            <input type="text" *ngIf="item.show" [(ngModel)]="item.descripcion">
                            <button *ngIf="item.show" (click)="changeValue(item)">
                                Guardar
                            </button>
                        </td>
                        <td>
                            <span class="table-remove"><button type="button" (click)="deleteSiniestro(item.id)"
                                    class="btn btn-danger btn-rounded btn-sm my-0">
                                    Eliminar
                                </button>
                            </span>
                        </td>
                    </tr>

                </tbody>
            </table>

            <button (click)="changePage(currentPage - 1)" [disabled]="currentPage <= 1">Anterior</button>
            <button (click)="changePage(currentPage + 1)" [disabled]="currentPage >= totalPages()">Siguiente</button>
            
            <p>Página {{ currentPage }} de {{ totalPages() }}</p>
            


        </div>
    </div>
</div>
<!-- Editable table -->

<!-- Modal -->
<app-footer></app-footer>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">M</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </div>
    </div>
    
</div>