USE [master]
GO
/****** Object:  Database [Portafolio]    Script Date: 18/11/2024 14:10:22 ******/
CREATE DATABASE [Portafolio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Portafolio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LUSHOOC\MSSQL\DATA\Portafolio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Portafolio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LUSHOOC\MSSQL\DATA\Portafolio_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Portafolio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Portafolio]
GO
/****** Object:  Table [dbo].[Bombero]    Script Date: 18/11/2024 14:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bombero](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rut] [varchar](255) NOT NULL,
	[nombres] [varchar](255) NOT NULL,
	[apellidos] [varchar](255) NOT NULL,
	[edad] [int] NOT NULL,
	[cargo_id] [int] NOT NULL,
	[compania_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargo]    Script Date: 18/11/2024 14:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_cargo] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudad]    Script Date: 18/11/2024 14:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_ciudad] [varchar](255) NOT NULL,
	[region_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compania]    Script Date: 18/11/2024 14:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compania](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_compania] [varchar](255) NOT NULL,
	[ciudad_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comuna]    Script Date: 18/11/2024 14:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comuna](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_comuna] [varchar](255) NOT NULL,
	[ciudad_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 18/11/2024 14:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_pais] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 18/11/2024 14:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_region] [varchar](255) NOT NULL,
	[pais_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siniestro]    Script Date: 18/11/2024 14:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siniestro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clave_referencia] [varchar](max) NOT NULL,
	[fecha] [varchar](max) NOT NULL,
	[hora] [varchar](255) NOT NULL,
	[perdidas_materiales] [varchar](255) NULL,
	[afectados] [varchar](255) NULL,
	[descripcion] [varchar](max) NULL,
	[implementos_utilizados] [varchar](255) NULL,
	[tipo_siniestro_id] [int] NOT NULL,
	[comuna_id] [int] NOT NULL,
	[bombero_id] [int] NOT NULL,
	[usuario_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoSiniestro]    Script Date: 18/11/2024 14:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoSiniestro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_tipo_siniestro] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 18/11/2024 14:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rut] [varchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[bombero_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bombero] ON 

INSERT [dbo].[Bombero] ([id], [rut], [nombres], [apellidos], [edad], [cargo_id], [compania_id]) VALUES (1, N'12.345.678-5', N'Carlos', N'Gómez', 30, 1, 1)
INSERT [dbo].[Bombero] ([id], [rut], [nombres], [apellidos], [edad], [cargo_id], [compania_id]) VALUES (2, N'14.567.890-3', N'Jorge', N'Pérez', 31, 2, 2)
INSERT [dbo].[Bombero] ([id], [rut], [nombres], [apellidos], [edad], [cargo_id], [compania_id]) VALUES (3, N'15.678.901-2', N'Luis', N'Martínez', 35, 3, 3)
SET IDENTITY_INSERT [dbo].[Bombero] OFF
GO
SET IDENTITY_INSERT [dbo].[Cargo] ON 

INSERT [dbo].[Cargo] ([id], [nombre_cargo]) VALUES (1, N'Capitan')
INSERT [dbo].[Cargo] ([id], [nombre_cargo]) VALUES (2, N'Teniente')
INSERT [dbo].[Cargo] ([id], [nombre_cargo]) VALUES (3, N'Cabo')
SET IDENTITY_INSERT [dbo].[Cargo] OFF
GO
SET IDENTITY_INSERT [dbo].[Ciudad] ON 

INSERT [dbo].[Ciudad] ([id], [nombre_ciudad], [region_id]) VALUES (1, N'Santiago', 7)
INSERT [dbo].[Ciudad] ([id], [nombre_ciudad], [region_id]) VALUES (2, N'Puente Alto', 7)
INSERT [dbo].[Ciudad] ([id], [nombre_ciudad], [region_id]) VALUES (3, N'Maipú', 7)
SET IDENTITY_INSERT [dbo].[Ciudad] OFF
GO
SET IDENTITY_INSERT [dbo].[Compania] ON 

INSERT [dbo].[Compania] ([id], [nombre_compania], [ciudad_id]) VALUES (1, N'Compañia de Bomberos Santiago', 1)
INSERT [dbo].[Compania] ([id], [nombre_compania], [ciudad_id]) VALUES (2, N'Compañia de Bomberos Providencia', 1)
INSERT [dbo].[Compania] ([id], [nombre_compania], [ciudad_id]) VALUES (3, N'Compañia de Bomberos Las Condes', 1)
SET IDENTITY_INSERT [dbo].[Compania] OFF
GO
SET IDENTITY_INSERT [dbo].[Comuna] ON 

INSERT [dbo].[Comuna] ([id], [nombre_comuna], [ciudad_id]) VALUES (1, N'Santiago Centro', 1)
INSERT [dbo].[Comuna] ([id], [nombre_comuna], [ciudad_id]) VALUES (2, N'Independencia', 1)
INSERT [dbo].[Comuna] ([id], [nombre_comuna], [ciudad_id]) VALUES (3, N'Providencia', 1)
SET IDENTITY_INSERT [dbo].[Comuna] OFF
GO
SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([id], [nombre_pais]) VALUES (1, N'Chile')
SET IDENTITY_INSERT [dbo].[Pais] OFF
GO
SET IDENTITY_INSERT [dbo].[Region] ON 

INSERT [dbo].[Region] ([id], [nombre_region], [pais_id]) VALUES (1, N'Arica y Parinacota', 1)
INSERT [dbo].[Region] ([id], [nombre_region], [pais_id]) VALUES (2, N'Tarapacá', 1)
INSERT [dbo].[Region] ([id], [nombre_region], [pais_id]) VALUES (3, N'Antofagasta', 1)
SET IDENTITY_INSERT [dbo].[Region] OFF
GO
SET IDENTITY_INSERT [dbo].[Siniestro] ON 

INSERT [dbo].[Siniestro] ([id], [clave_referencia], [fecha], [hora], [perdidas_materiales], [afectados], [descripcion], [implementos_utilizados], [tipo_siniestro_id], [comuna_id], [bombero_id], [usuario_id]) VALUES (1, N'REF001', N'2023-01-01', N'12:00:00', N'Alta', N'5 personas', N'Incendio en edificio', N'Mangueras, Escaleras', 1, 1, 1, 1)
INSERT [dbo].[Siniestro] ([id], [clave_referencia], [fecha], [hora], [perdidas_materiales], [afectados], [descripcion], [implementos_utilizados], [tipo_siniestro_id], [comuna_id], [bombero_id], [usuario_id]) VALUES (2, N'REF002', N'2023-01-02', N'14:30:00', N'Moderada', N'2 personas', N'Inundación en planta baja', N'Escaleras', 2, 2, 2, 2)
INSERT [dbo].[Siniestro] ([id], [clave_referencia], [fecha], [hora], [perdidas_materiales], [afectados], [descripcion], [implementos_utilizados], [tipo_siniestro_id], [comuna_id], [bombero_id], [usuario_id]) VALUES (3, N'REF003', N'2023-01-03', N'08:00:00', N'Baja', N'Ninguno', N'Pequeño incendio en vehículo', N'Extintores', 4, 3, 3, 3)
GO
SET IDENTITY_INSERT [dbo].[Siniestro] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoSiniestro] ON 

INSERT [dbo].[TipoSiniestro] ([id], [nombre_tipo_siniestro]) VALUES (1, N'Incendio')
INSERT [dbo].[TipoSiniestro] ([id], [nombre_tipo_siniestro]) VALUES (2, N'Inundación')
INSERT [dbo].[TipoSiniestro] ([id], [nombre_tipo_siniestro]) VALUES (3, N'Terremoto')
SET IDENTITY_INSERT [dbo].[TipoSiniestro] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id], [rut], [email], [password], [bombero_id]) VALUES (1, N'12.345.678-5', N'carlos.gomez@example.com', N'password1', 1)
INSERT [dbo].[Usuario] ([id], [rut], [email], [password], [bombero_id]) VALUES (2, N'14.567.890-3', N'jorge.perez@example.com', N'password2', 2)
INSERT [dbo].[Usuario] ([id], [rut], [email], [password], [bombero_id]) VALUES (3, N'15.678.901-2', N'luis.martinez@example.com', N'password3', 3)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Bombero__C2B74E76EC30A543]    Script Date: 18/11/2024 14:10:23 ******/
ALTER TABLE [dbo].[Bombero] ADD UNIQUE NONCLUSTERED 
(
	[rut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__AB6E616462FDB330]    Script Date: 18/11/2024 14:10:23 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__C2B74E7608AC50CA]    Script Date: 18/11/2024 14:10:23 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[rut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bombero]  WITH CHECK ADD FOREIGN KEY([cargo_id])
REFERENCES [dbo].[Cargo] ([id])
GO
ALTER TABLE [dbo].[Bombero]  WITH CHECK ADD FOREIGN KEY([compania_id])
REFERENCES [dbo].[Compania] ([id])
GO
ALTER TABLE [dbo].[Ciudad]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[Region] ([id])
GO
ALTER TABLE [dbo].[Compania]  WITH CHECK ADD FOREIGN KEY([ciudad_id])
REFERENCES [dbo].[Ciudad] ([id])
GO
ALTER TABLE [dbo].[Comuna]  WITH CHECK ADD FOREIGN KEY([ciudad_id])
REFERENCES [dbo].[Ciudad] ([id])
GO
ALTER TABLE [dbo].[Region]  WITH CHECK ADD FOREIGN KEY([pais_id])
REFERENCES [dbo].[Pais] ([id])
GO
ALTER TABLE [dbo].[Siniestro]  WITH CHECK ADD FOREIGN KEY([bombero_id])
REFERENCES [dbo].[Bombero] ([id])
GO
ALTER TABLE [dbo].[Siniestro]  WITH CHECK ADD FOREIGN KEY([comuna_id])
REFERENCES [dbo].[Comuna] ([id])
GO
ALTER TABLE [dbo].[Siniestro]  WITH CHECK ADD FOREIGN KEY([tipo_siniestro_id])
REFERENCES [dbo].[TipoSiniestro] ([id])
GO
ALTER TABLE [dbo].[Siniestro]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([bombero_id])
REFERENCES [dbo].[Bombero] ([id])
GO
USE [master]
GO
