<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<app-navigation></app-navigation>
<div class="container">
  <h2 class="text-center">Mantenedor de Bomberos</h2>
  <!-- Botón Agregar -->
  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-success" (click)="openModal()">
      <i class="fas fa-plus"></i> Agregar Bombero
    </button>
  </div>
  

  <!-- Filtros -->
  <div class="row mb-3">
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar..."
        [(ngModel)]="filtroTexto"
        (input)="aplicarFiltro()"
      />
    </div>
    <div class="col-md-6">
      <select
        class="form-control"
        [(ngModel)]="filtroSeleccionado"
        (change)="aplicarFiltro()"
      >
        <option *ngFor="let filtro of filtrosDisponibles" [value]="filtro">
          {{ filtro }}
        </option>
      </select>
    </div>
  </div>

  <!-- Tabla de Bomberos -->
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>RUT</th>
        <th>Edad</th>
        <th>Cargo</th>
        <th>Compañía</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bombero of bomberosPaginados">
        <td>{{ bombero.id }}</td>
        <td>{{ bombero.nombres }}</td>
        <td>{{ bombero.apellidos }}</td>
        <td>{{ bombero.rut }}</td>
        <td>{{ bombero.edad }}</td>
        <td>{{ bombero.nombre_cargo }}</td>
        <td>{{ bombero.nombre_compania }}</td>
        <td>
          
          <!-- Botón Editar -->
          <button
            class="btn btn-warning"
            (click)="openModal(bombero)"
          >
            Editar
          </button>

          <!-- Botón Eliminar -->
          <button class="btn btn-danger" (click)="deleteBombero(bombero.id)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Paginador -->
  <nav *ngIf="totalPaginas > 1">
    <ul class="pagination justify-content-center">
      <li
        class="page-item"
        [class.disabled]="paginaActual === 1"
        (click)="cambiarPagina(paginaActual - 1)"
      >
        <a class="page-link">Anterior</a>
      </li>
      <li
        class="page-item"
        *ngFor="let pagina of [].constructor(totalPaginas); let i = index"
        [class.active]="paginaActual === i + 1"
        (click)="cambiarPagina(i + 1)"
      >
        <a class="page-link">{{ i + 1 }}</a>
      </li>
      <li
        class="page-item"
        [class.disabled]="paginaActual === totalPaginas"
        (click)="cambiarPagina(paginaActual + 1)"
      >
        <a class="page-link">Siguiente</a>
      </li>
    </ul>
  </nav>
</div>

<!-- Modal para Crear/Editar Bombero -->
<div
  class="modal fade"
  id="bomberoModal"
  tabindex="-1"
  aria-labelledby="bomberoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bomberoModalLabel">
          {{ esEdicion ? 'Editar Bombero' : 'Agregar Bombero' }}
        </h5>        
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Formulario de edición -->
        <form>
          <div class="mb-3">
            <label for="bomberoRut" class="form-label">RUT</label>
            <input
              type="text"
              id="bomberoRut"
              class="form-control"
              [(ngModel)]="bomberoSeleccionado.rut"
              name="rut"
            />
          </div>
          <div class="mb-3">
            <label for="bomberoNombre" class="form-label">Nombres</label>
            <input
              type="text"
              id="bomberoNombre"
              class="form-control"
              [(ngModel)]="bomberoSeleccionado.nombres"
              name="nombres"
            />
          </div>
          <div class="mb-3">
            <label for="bomberoApellido" class="form-label">Apellidos</label>
            <input
              type="text"
              id="bomberoApellido"
              class="form-control"
              [(ngModel)]="bomberoSeleccionado.apellidos"
              name="apellidos"
            />
          </div>
          <div class="mb-3">
            <label for="bomberoEdad" class="form-label">Edad</label>
            <input
              type="number"
              id="bomberoEdad"
              class="form-control"
              [(ngModel)]="bomberoSeleccionado.edad"
              name="edad"
            />
          </div>
          <div class="mb-3">
            <label for="bomberoCargo" class="form-label">Cargo</label>
            <select
              id="bomberoCargo"
              class="form-control"
              [(ngModel)]="bomberoSeleccionado.cargo_id"
              name="cargo"
            >
              <option *ngFor="let cargo of cargos" [value]="cargo.id">
                {{ cargo.nombre_cargo }}
              </option>
            </select>
          </div>
          
          <div class="mb-3">
            <label for="bomberoCompania" class="form-label">Compañía</label>
            <select
              id="bomberoCompania"
              class="form-control"
              [(ngModel)]="bomberoSeleccionado.compania_id"
              name="compania"
            >
              <option *ngFor="let compania of companias" [value]="compania.id">
                {{ compania.nombre_compania }}
              </option>
            </select>
          </div>          
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Cerrar
        </button>
        <button
        type="button"
        class="btn btn-primary"
        (click)="saveChanges()"
      >
        {{ esEdicion ? 'Guardar Cambios' : 'Agregar Bombero' }}
      </button>
     
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
